# Local .terraform directories
**/.terraform/*

.terraform
# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override.example files (safe to share)
!override.tf.example
!override.tf.json.example

# Terraform plan output files
*.tfplan
*.out

# CLI configuration files
.terraformrc
terraform.rc
